.leyenda {
    position: fixed;
    top: 80px;
    right: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
    z-index: 1000;
    margin-left: auto;
  }
  
  .leyenda h4 {
    margin-top: 0;
  }
  
  .leyenda ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .leyenda li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 8px;
  }
  
  .total-reclamos .circle {
    background-color: #007bff; /* Azul */
  }
  
  .urgente .circle {
    background-color: #dc3545; /* Rojo */
  }
  
  .regular .circle {
    background-color: #ffc107; /* Amarillo */
  }
  
  .no-vencido .circle {
    background-color: #1FE81F; /* Verde */
  }
  
  .vencido .circle {
    background-color: #343a40; /* Negro */
  }
  
  .sin-responder .circle {
    background-color: #17a2b8; /* Cian */
  }
  
  .con-remito .circle {
    background-color:#198754; /* Verde Oscuro */
  }
  
  .fecha-vencida .circle {
    background-color: #c82333; /* Rojo Oscuro */
  }
  